@font-face
{
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Sans\ a4fran3.eot');
    src: url('../fonts/IRANSans-web.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/Sans\ a4fran3.woff') format('woff2'),
        /* Chrome36+, Opera24+*/
        url('../fonts/Sans\ a4fran3.ttf') format('truetype'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@tailwind base;
@tailwind components;
@tailwind utilities;